<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TimeSplit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <TimeSplit.Properties.Settings>
            <setting name="Project0" serializeAs="String">
                <value>Pause</value>
            </setting>
            <setting name="Project1" serializeAs="String">
                <value>Organisation</value>
            </setting>
            <setting name="Project2" serializeAs="String">
                <value>Tests</value>
            </setting>
            <setting name="Project3" serializeAs="String">
                <value>Bugfixing</value>
            </setting>
            <setting name="Project4" serializeAs="String">
                <value>Development</value>
            </setting>
            <setting name="Project5" serializeAs="String">
                <value>Meeting</value>
            </setting>
            <setting name="Project6" serializeAs="String">
                <value>Research</value>
            </setting>
            <setting name="Project7" serializeAs="String">
                <value>Scrum</value>
            </setting>
        </TimeSplit.Properties.Settings>
    </applicationSettings>
</configuration>
