.grid-container {
    display: grid;
    grid-template-columns: 110px 50px 250px;
    padding: 10px;
    align-content: center;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
}

.clock {
    padding-left: 10px;
}

.timerStart.active {
    background-color: #4caf50;
    border: 0px;
}